.logo{
    border: 5px solid black;
    border-radius: 35px;
    background:linear-gradient(red, orange);
}
.logo img{
    border-radius: 69px;
}
footer{
    text-align: center;
    background-color: rgb(26, 26, 26);
    color: white;
}.nav{
    padding: 10px;
}
.nav ul li{
    display: inline;
}
.nav ul li a{
    text-decoration: none;
    padding: 10px;
    font-weight: bolder larger;
}
*{
    margin: 0px;
}